<div>
  <h1 class="text-center">Issuing a prescription</h1>
  <br />
</div>
<div class="card-wrapper">
  <mat-card class="mat-elevation-z1">
    <mat-card-header>
      <mat-card-title>
        <h2>Perscription Form</h2>
      </mat-card-title>
    </mat-card-header>
    <form
      novalidate
      [formGroup]="perscriptionForm"
      (ngSubmit)="submitPerscription()"
    >
      <!--PERSCRIPTION NAME START -->
      <mat-form-field class="full-width">
        <input
          formControlName="doctorName"
          type="text"
          matInput
          class="form-control"
        />
      </mat-form-field>

      <!--PERSCRIPTION DIAGNOSE NAME START -->
      <mat-form-field class="full-width">
        <textarea
          matInput
          rows="3"
          class="form-control"
          formControlName="diagnose"
        >
        </textarea>
      </mat-form-field>
      <!--PERSCRIPTION DIAGNOSE NAME END -->

      <!--PERSCRIPTION INSTITUTION NAME START -->
      <mat-form-field class="full-width">
        <input
          type="search"
          matInput
          class="form-control"
          formControlName="institution"
          placeholder="Institution"
        />
      </mat-form-field>
      <!--PERSCRIPTION INSTITUTION NAME END -->

      <!-- PERSCRIPTION ISSUE DATE START -->
      <mat-form-field class="full-width">
        <input
          matInput
          [matDatepicker]="issueDatePicker"
          placeholder="Issue Date"
          formControlName="IssueDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="issueDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #issueDatePicker></mat-datepicker>
      </mat-form-field>
      <!--  PERSCRIPTION ISSUE DATE END -->
    </form>
  </mat-card>
</div>
<mat-card-actions>
  <button type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
</mat-card-actions>
