a{
  text-decoration: none;
  color: white;
}
a:hover,
a:active{
  color: lightgray;
}
.navigation-links{
  padding: 0%;
  margin: 0%;
  list-style-type: none;
}
.nav-caption{
  display: inline-block;
  padding-left: 10px;
}
